
.authContainer {
  background-image: url('../src/assets/images/da87cd52923ebecef90e1f43751cfebc.jpeg');
  background-size: cover;

}

.bg-overlay {
  background: linear-gradient(to right, #2f8c6198, #0000006c);
}

.authContainer .logo {
  width: 230px;
  padding: 0px;


}

.logo-div {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img {
  background-image: url('../src/assets/images/not-found-bg.png');
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;

}

.text-color1 {
  color: #1F263E;
  font-weight: 600;
}

.text-color2 {
  color: #1F263E;
}

.logo-img {
  width: 250px;
}

.sidebar-container .ps-sidebar-container {
  background-color: #1F263E;
  color: #ffffff;
  height: 100vh;
    border-radius: 0 40px 0 0;

}

.sidebar-container .ps-sidebar-container .ps-menu-button:hover {
  background-color: #00924D1A;
}

.toggle {
  cursor: pointer;
}

.header-container{
  background-image: url("../src/assets/images/header-bg-svg.svg") ;
  background-size: cover;
  color: white;
  
  
}

.nav{
  background-color: #F8F9FB;
}
.recipes-img{
  width: 50px;
}
.recipe-header-container{
  background-color: #F0FFEF;
}


.pass-eye {
margin-left:92% !important;
top: 7px !important;
}

.fav-container{
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0);
}
.btn-icon {
  border: none;
  background-color: transparent;
  font-size: 15px;
  padding: 0;
}
.responsive-table-categories {
  padding: 0;
  li {
    border-radius: 10px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  .table-header {
    padding: 25px 35px;
    background-color: #e2e5eb;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
  .table-row {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: center;
  }
  .col-1 {
    flex-basis: 5%;
  }
  .col-2 {
    flex-basis: 15%;
  }
  .col-3 {
    flex-basis: 15%;
  }
  .col-4 {
    flex-basis: 15%;
  }
  .col-5 {
    flex-basis: 10%;
  }
  .col-6 {
    flex-basis: 10%;
  }
.col-7{
  flex-basis: 5%;
}
.col-8 {
flex-basis: 5%;
}
  /***************************************/

  @media all and (max-width: 650px) {
    .table-header {
      display: none;
    }

    li {
      display: block;
    }
    .col {
      flex-basis: 100%;
    }
    .col {
      width: 100%;
      display: flex;
      padding: 10px 0;
      &:before {
        color: #009247;
        content: attr(data-label);
        flex-basis: 50%;
        font-size: 15px;
      }
    }
  }
}

